/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#carBody {
	-fx-fill: #ccddee;
}

#mapBackground {
	-fx-fill: #222222;
}

#background {
	-fx-background-color: #111111;
}

#text {
	 -fx-font: 32px "Serif";
}


.button {
    -fx-padding: 5.0 22.0 5.0 22.0;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;

    -fx-background-radius: 0.0;

    -fx-background-color: #1d1d1d;
  
     -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 22.0pt;
    -fx-text-fill: #d8d8d8;
}



.button:hover{
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused
{
    -fx-border-color: white, white;
    -fx-border-width: 1.0, 1.0;
    -fx-border-style: solid, segments(1.0, 1.0);
    -fx-border-radius: 0.0, 0.0;
    -fx-border-insets: 1.0 1.0 1.0 1.0, 0.0;
}

.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover{
    -fx-background-color: #219297;
}