/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#carBody {
	-fx-fill: #ccddee;
}

#mapBackground {
	-fx-fill: #222222;
}

#background {
	-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 100% , #bbbbbb, #A8C4F1);
}